{% extends "base.html.twig" %}

{% block title %}Library{% endblock %}

{% block body %}
    <div class="lib-home">
        <h1>{{title}}</h1>
        <div class="cols-2">
            <a class="book-link" href="{{ asset('img/books/') }}{{image}}"><img alt="{{title}}" src="{{ asset('img/books/') }}{{image}}"></a>
            <div>
            <h3>Details about book</h3>
            <p><b>Author:</b> {{author}}</p>
            <p><b>ISBN:</b> {{isbn}}</p>
            <a class="button orange-button" href="{{ path('book_update', {idNumber: id}) }}">Update</a>
            <a class="button orange-button" href="{{ path('book_delete', {idNumber: id}) }}">Delete</a>
            </div>
        </div>
        <a class="button blue-button" href="{{ path('book_show_all') }}">Back to the all books</a>
    </div>
{% endblock %}