{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <div class="card-front-page">

        <h1>Card game <span>&#{{ cardString }}</span></h1>

        <ul class="game-links">
            <li><a href="{{ path('card_init', {route: 'card_deck'}) }}">Sorted cards</a></li>
            <li><a href="{{ path('card_init',{route: 'card_deck_shuffle'}) }}">Mixed cards</a></li>
            <li><a href="{{ path('card_deck_draw') }}">Draw a card from the deck</a></li>
            <li><a href="{{ path('card_deck_draw_num', {num: 4}) }}">Draw a number of cards from the deck</a></li>
        </ul>

            <h2>Classes</h2>
            <p>
                For the deck, I've created four classes: Card, CardGraphic, CardCollection, and DeckOfCards.
                UML shows the properties and methods of each class and their relationship to each other.
                The Card class contains one protected property (value) and three public properties (suites, minValue, maxValue).
                Furthermore, the Card class contains four public methods.
                The CardGraphic class "extends" the Card class and inherits all its properties and methods.
                This class also contains a protected property (representation) that contains the graphical representations of the cards.
            </p>
            <p>
                The CardCollection class contains a protected property (cards) and eight public methods.
                Note that CardCollection refers to the Card class.
                There is a compositional relationship between these two classes.
                In the add() and remove() methods, a Card object is passed as an argument.
            </p>
            <img src="{{ asset('img/class_diagram.png') }}" height="420" width="640" alt="class_diagram" class="center">
    </div>

{% endblock %}